
// CLEARFIX

%clearfix {
    *zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
  
// example:
// .container-with-floated-children {
//     @extend %clearfix;
//   }



// // ---------------------
// //     EXTENDS
// // ---------------------

// %clearfix {
//     @include clearfix;
// }

// %transitionColor {
//     @include transition($props: color);
// }

// %transitionAll {
//     @include transition;
// }