//Typography
$general-font-size: 16px;
$general-font-family: "Lato", sans-serif;
$general-font-weight: 400;
$general-font-weight-bold: 700;
$general-text-align: justify;
$headers-text-align: center;
$nav-font-family: "Dosis", Arial, sans-serif; // 400, 700
$nav-font-size: 16px;

//Colors
$general-background-color: rgb(230, 221, 221);
$general-text-color: rgb(5, 65, 18);
$header-background-color: white;
$gallery-background-color: white;
$headers-background-color: #a17f7f; 

$nav-text-color: #F70000;
$nav-text-color-active: lighten($nav-text-color, 42);


//dimensions
$general-container-width: 80%;
$header-logo-height: 60px;
$gallery-grid-gap : 10px;
$gallery-max-width: 760px;




// // ---------------------
// //     BASE
// // ---------------------

//     // *--------- LAYOUT ---------*

//     // *--------- COLORS ---------*
//     $base__background-color: #fff;
//     $base__border-color: #ececec;
//     $special__text-color: #29D58E;
//     $special__background-color: #29D58E;