//Typography
$general-font-size: 16px;
$heading-h1-font-size: 3*$general-font-size;
$heading-h2-font-size: 2*$general-font-size;
$heading-h3-font-size: 1.5*$general-font-size;
$general-font-family: "Lato", sans-serif;
$general-font-weight: 400;
$general-font-weight-bold: 700;
$general-text-align: justify;
$headers-text-align: center;
$nav-font-family: "Dosis", Arial, sans-serif; // 400, 700
$nav-font-size: 16px;
$nav-change-font-size: 12px;

//Colors
$general-background-color: rgb(230, 221, 221);
$general-text-color: rgb(5, 65, 18);
$header-background-color: white;
$gallery-background-color: white;
$offer-background-color: white;
$headers-background-color: #a17f7f; 

$nav-text-color: #F70000;
$nav-text-color-active: lighten($nav-text-color, 35);


//dimensions
$general-container-width: 90%;
$header-base-height: 85px;
$header-change-height: 60px;
$header-logo-base-height: 60px;
$header-logo-change-height: 20px;
$gallery-grid-gap : 10px;
$offer-grid-gap : 10px;
$gallery-max-width: 760px;




// // ---------------------
// //     BASE
// // ---------------------

//     // *--------- LAYOUT ---------*

//     // *--------- COLORS ---------*
//     $base__background-color: #fff;
//     $base__border-color: #ececec;
//     $special__text-color: #29D58E;
//     $special__background-color: #29D58E;