.offer-container {
  @extend .container;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 70px);
  // max-width: $galery-max-width;
  grid-gap: $offer-grid-gap;
  background-color: $offer-background-color;
  @include breakpoints(desktopXL) {
    grid-gap: 1 * $offer-grid-gap;
    grid-template-rows: repeat(10, 60px);

  }
}

.offer-box {
  display: flex;
  min-height: $offer-box-min-height;

  &:nth-child(-n+6)   //changes for the first seven elements
 {
    background-color: $general-color;
    border: $general-color solid 2px;
  }
  &:first-child {
    grid-column: 2 / span 5;
    grid-row: 1 / span 3;
  }

  &:nth-child(2) {
    grid-column: 7 / span 5;
    grid-row: 2 / span 3;
    background-color: none;
  }
  &:nth-child(3) {
    grid-column: 8 / span 5;
    grid-row: 5 / span 3;
  }
  &:nth-child(4) {
    grid-column: 7 / span 5;
    grid-row: 8 / span 3;
  }
  &:nth-child(5) {
    grid-column: 2 / span 5;
    grid-row: 7 / span 3;
  }
  &:nth-child(6) {
    grid-column: 1 / span 5;
    grid-row: 4 / span 3;
  }
  &:nth-child(7) {
    grid-column: 6 / span 2;
    grid-row: 5 / span 2;
  }
  &:nth-child(8) {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  &:nth-child(9) {
    grid-column: 12;
    grid-row: 8 / span 3;
  }
  .offer-description {
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
  h3 {
    padding-left: $general-font-size;
    padding-right: $general-font-size;
  }
  .offer-picture {
    height: 100%;
    width: 55%;
    @include breakpoints(desktopXL) {
      width: auto;
    }
  }
  .offer-addition-img1 {
    height: 40%;
    width: 40%;
    @include both-center;
  }
  .offer-addition-img2 {
    height: auto;
    width: 90%;
    margin: auto;
    opacity: 0.2;
  }
  p {
    padding: 0 15%;
    hyphens: auto;
    word-wrap: break-word;
    text-align: center;
  }
  &:hover {
    transform: scale(0.98);
  }
}
.slide-in {
  opacity: 0;
  transition: all 2s;
}
.slide-in-from-left {
  transform: translateX(-10%) scale(0.8);
}
.slide-in-from-right {
  transform: translateX(10%) scale(0.8);
}
.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
