.prices-container
{
    @extend .container;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2*$heading-h1-font-size 1fr 1fr;
    background-color: $offer-background-color;

    h3
    {
        font-size: $heading-h3-font-size;
        position: relative;
        text-align: center;
    }
}  
 
.prices-box
{


    &:first-child
    {
        grid-column:  3 / span 2;
        grid-row: 1 / span 3;
        background-image:url('../img/prices-bg-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    &:nth-child(2)     //strzyżenie
    {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background: $general-background-color; //for browsers that do not support gradients
        background: linear-gradient(to left, $general-color 30%, $general-background-color 90%);
        h3
        {
            top: 40%;
        }
        table
        {
            top: 50%;
        }
    }
    &:nth-child(3)    //Trymowanie
    {
        grid-column: 5 / span 2;
        grid-row: 1 / span 2;  
        background: $general-background-color; //for browsers that do not support gradients
        background: linear-gradient(to right, $general-color 30%, $general-background-color 90%);
        h3
        {
            top: 40%;
        }
        table
        {
            top: 50%;
        }
    }
    &:nth-child(4)   //Kąpiel
    {
        grid-column: 1 / span 2;
        grid-row: 3;  
        background: $general-background-color; //for browsers that do not support gradients
        background: linear-gradient(to left, $general-color 30%, $general-background-color 90%);
        h3
        {
            top: 10%;
        }
        table
        {
            top: 20%;
        }
    }
    &:nth-child(5)  //Pozostałe
    {
        grid-column: 5 / span 2;
        grid-row: 3;
        background: $general-background-color; //for browsers that do not support gradients
        background: linear-gradient(to right, $general-color 30%, $general-background-color 90%);
        padding-bottom: 30%;
        h3
        {
            top: 10%;
        }
        table
        {
            top: 20%;
        }
    }
    &:nth-child(6)
    {
        grid-column: 1;
        grid-row: 2;
        
        opacity: .2;
    }
    &:nth-child(7)
    {
        grid-column: 6;
        grid-row: 3;
    
        opacity: .2;
    }
    img
    {
        height: 100%;
        width: 67%;
      
    }
    table
    {
        width: 100%;
        position: relative;
    }
    td
    {
        &:first-child
        {
            text-align: left;
            padding-left: 20%;
        }
        &:nth-child(2)
        {
            text-align: right;
            padding-right: 20%;
        }
       
    }
}

