h1    //first slide description
{
    font-size: .8*$heading-h2-font-size;
    position: relative;
    font-family: $heading-font-family;
    color: $header-text-color;

    & span:first-child   //word "pupil"
    {
    position: absolute;
    bottom: (.2*$general-font-size);
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: $heading-h1-font-size;
    letter-spacing: 1.5*$general-font-size;
    font-family: $heading-h1-font-family;
    text-transform: uppercase;
    padding-left: 10px;

    }
    & span:last-child   //words: "salon pielęgnacji psów i kotów"
    {
    position: absolute;
    bottom: -(3*$general-font-size);
    left: 2*$heading-h1-font-size;
    letter-spacing: ($general-font-size / 4);
    line-height: .9*$heading-h1-line-height;
    font-weight: $general-font-weight-bold;
    }
}

#paw-img
{
    height: $heading-h1-font-size;
    width: auto;
    position: absolute;

}
#slides
{
    position: relative;
    height: 100%;
    //animation delay
    li:nth-child(2) h2
    {
        animation-delay: 5s;
    }
    li:nth-child(3) h2
    {
        animation-delay: 9s;
    }
    li:nth-child(4) h2
    {
        animation-delay: 13s;
    }
    li:nth-child(5) h2
    {
        animation-delay: 17s;
    }
    li:nth-child(6) h2
    {
        animation-delay: 21s;
    }

}
.slide     //one slide with description h2
{
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    height: 100%;
    width: 100%;

    & > div
    {
        position: relative;
        height: 100%;
    }

    picture
    {
        height: auto;
        width: 100%;
        position: absolute;

        img{
            width: 100%;
            height: auto;
        }
    }
}
.slide-description
{
    position: absolute;
    top: 79vh;
    left: 10vw;
    h2
    {
        padding: 15px;
        color: $header-text-color;
        @include opacity(.4, $general-background-color,30px)
    }
}
.slide-hidden {
    // when elements have an absolute position, it's a way for the ancestor (#presentation-slideshow)
    // to match its height to their height
    picture{
        position: relative;
        visibility: hidden;
        width: 100%;

        img{
            width: 100%;
            height: auto;
            margin-top: -8px;
        }
    }

}

.showing{
    z-index: 10;
    opacity: 1;
}

//ANIMATIONS
  //first slide description slide in down animation
@keyframes slide-in-down {
from {
    transform: translate3d(0, -50%, 0);
    opacity: 0;
}

to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
}
.slide-in-down
{
     animation: slide-in-down 1s linear 1s 1 both;
}
//next slide description slide in left animation
@keyframes slide-in-left {
from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
}
.slide-in-left
{

    animation: slide-in-left 1s linear 1 both;

}