

html
{
    height: 100%
}

body
{
    height: 100%;
    width: 100%;
    background-color: $general-background-color;
    font-family: $general-font-family;
    font-size: $general-font-size;
    font-weight: $general-font-weight;
    margin: 0;
    line-height: 1.8em;
    text-align: $general-text-align;
    color: $general-text-color;
}
.section
{
    // min-height: calc(100vh - $header-base-height);
}
.container
{
    width: $general-container-width;
    margin: 0 auto;
    overflow: hidden;
    @extend %clearfix;
}

h2
{
    background-color: goldenrod;
    color: red;
    font-size: 2*$general-font-size;
    font-weight: 700;
    padding: 10px;

}


// // -------------------------------
// //     GENERAL VARIABLES
// // -------------------------------

//     // *--------- METRICS ---------*
//     $container__width: 1240px;
//     $container__width--inner: 1170px;

//     // *--------- TYPOGRAPHY ---------*

//     // *--------- COLORS ---------*

// // ----------------------------
// //     GENERAL STYLES
// // ----------------------------

// @include comment("general");

// html {
//     height: 100%;
// }

// body {
//     height: 100%;
//     background: $base__background-color url(../images/header_bg.jpg) center top no-repeat;

//     &.home {
//         background-image: none;
//     }
// }

// .container {
//     width: $container__width;
//     margin: 0 auto;
//     background-color: $base__background-color;

//     @extend %clearfix;
// }

// .center-content {
//     width: $container__width--inner;
//     margin: 0 auto;

//     @extend %clearfix;
// }

// .col {
//     @extend %clearfix;

//     &--left {
//         float: left;
//     }

//     &--right {
//         float: right
//     }

//     &--25 {
//         width: 25%;
//     }

//     &--70 {
//         width: 70%;
//     }

//     &--75 {
//         width: 75%;
//     }
// }

// .hidden {
//     display: none;
// }

// .not-visible {
//     opacity: 0;

//     @extend %transitionAll;
// }

// .visible {
//     opacity: 1;

//     @extend %transitionAll;
// }