//general settings and logo
header
{
    background-color: $header-background-color;
    min-height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    // height: $header-base-height;
    transition: all 0.5s;
    z-index: 100;

    

   
}
#logo
{
    float: left;
    height: $header-logo-base-height;
    width: auto;
    transition: all 0.5s;
}
#top-nav
{
    float: right;

    & ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & li
    {
        display: inline-block;
        margin-left: 45px;
        position: relative;
        font-family: $nav-font-family;
        font-weight: $general-font-weight-bold;
        font-size: $nav-font-size;
        line-height: $header-base-height;
        text-transform: uppercase;
        transition: all 0.5s;
    }

    & a
    {   
        text-transform: uppercase;
        color: $nav-text-color;

        &:hover {
            color: $nav-text-color-active;
        
            &::before
            {
                width: 100%;
            }
        }

        &::before   //line showing smoothly under the text
        {
            content: '';
            display: block;
            height: 3px;
            width: 0%;
            background-color: $nav-text-color;
            position: absolute;  // position absolute for the "li"
            top: 0;
            transition: all ease-in-out 350ms;
        }
    }
}

.scroll-header
{
    height: $header-change-height;
}

.scroll-header-logo
{
    height: $header-logo-change-height;
}

.scroll-header-li
{
    font-size: $nav-change-font-size;
}








// // -------------------------------
// //     HEADER VARIABLES
// // -------------------------------
// // *--------- TYPOGRAPHY ---------*
// // *--------- COLORS ---------*
// // ----------------------------
// //     HEADER STYLES
// // ----------------------------
// @include comment("header");
// .header {
//     height: 265px;
//     margin-top: 25px;
//     margin-bottom: 60px;
//     position: relative;
//     z-index: 2;
//     .home & {
//         margin-bottom: 610px;
//     }
//     &__logo {
//         display: block;
//         width: 151px;
//         height: 61px;
//         margin-left: -75px;
//         background: yellow url(../images/logo.png) 0 0 no-repeat;
//         position: absolute;
//         top: 75px;
//         left: 50%;
//         font-size: 0;
//         line-height: 0;
//     }
//     &__social {
//         margin-top: 75px;
//         float: left;
//     }
//     &__search {
//         margin-top: 75px;
//         float: right;
//     }
//     &__search-field {
//         padding-right: 45px;
//         background-image: url(../images/search_icon.png);
//         background-position: right center;
//         background-repeat: no-repeat;
//     }
// }